tmp
.DS_Store
target/bin/
target/lib/
target/src/
target/libssh2*
target/openssl*
target/*.tar.gz
libssh2.xcframework

build/
DerivedData/
Index/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

### Other
*.moved-aside
*.xccheckout
*.xcuserstate
*.xcscmblueprint
